body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: #1f2833;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    display: flex;
    background-color: #0b0c10;
    border-radius: 20px;
}

.header .logo img {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 100px;
    margin-top: 30px;
}

nav ul li a {
    color: #c5c6c7;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

nav {
    flex: 1;
    text-align: center;
}

.search-box {
    background: #2f3640;
    height: 40px;
    margin-top: 30px;
    border-radius: 40px;
    margin-right: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest img {
    width: 300px;
    padding: 10px;
}

.top-rest {
    display: flex;
    flex-wrap: wrap;
}

.restaurants h1 {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #c5c6c7;
}

.restaurants h1::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rest {
    flex-basis: 20%;
    margin-left: 130px;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    color: #c5c6c7;
    transition: 0s;
    height: 400px;
    transition: 1s;
    border-radius: 10%;
}

.rest:hover {
    background-color: lightcyan;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    z-index: 1;
    color: #1f2833;
}

.rest:hover>a {
    color: #042b85;
}

.rest a {
    color: #e84118;
    transition: 1s;
    margin-top: 10px;
}

.footer {
    display: flex;
    color: #c5c6c7;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #0b0c10;
    border-radius: 20px;
}

.footer-col-1 {
    text-align: center;
}

.footer-col-1 img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.footer-col-1 h3 {
    text-decoration: underline;
}

.footer-col-2 {
    text-align: center;
    padding: 0px 20px, 20px 20px;
}

.footer-col-2 p {
    font-size: large;
}

.footer-col-2 img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.footer-col-3 {
    text-align: center;
}

.footer-col-3 h3 {
    margin-left: 40px;
    text-decoration: underline;
}

.footer-col-3 ul li {
    list-style: none;
    cursor: pointer;
}

.footer-col-4 {
    text-align: center;
}

.footer-col-4 h3 {
    margin-left: 40px;
    text-decoration: underline;
}

.footer-col-4 ul li {
    list-style: none;
    cursor: pointer;
}